*{
    margin:0;
    padding:0;
    box-sizing: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.container{
    border: 2px solid rgb(112, 110, 110);
    text-align: center;
    border-radius: 10px;
    background-color: rgb(35, 34, 34);
    box-shadow: 1px 1px 5px gray;
}

h1{
    padding: 1.5rem 3rem;
    color:rgb(233, 237, 240)
}

.input-cont{
    position: relative;
}

input{
    width: 79%;
    padding: 0.7rem 0.7rem;
    margin: 1rem;
    font-size: 18px;
    background-color: rgb(148, 150, 152);
    color: blue;
    outline: none;
}

span{
    position: absolute;
    color: black;
    right: 3rem;
    top: 1.7rem;
    cursor: pointer;
}

.btn{
    width: 85%;
    padding: 0.7rem 1rem;
    margin: 1rem;
    margin-bottom: 3rem;
    background-color: rgb(148, 150, 152);
    font-size: 18px;
    cursor: pointer;
    border: none;
}

.btn:hover{
    background-color: rgb(208, 213, 217);;
}

span:hover{
    font-size: larger;
}

@media (max-width: 520px){
    body{
        height: 70vh;
    }
    h1{
        padding: 1rem 2rem;
        font-size: 1rem; 
    }
    input{
        padding: 0.7rem 0.4rem;
        margin: 0.7rem;
        font-size: 12px;
    }
    span{
        right: 1.6rem;
        top: 1.4rem;
    }
    .btn{
        padding: 0.7rem 1rem;
        margin: 1rem;
        margin-bottom: 2rem;
        font-size: 12px;
    }
}
